---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?categories=chinese&location=New%20York,%20NY
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer xerr1j6KwzJhpszFKGziADMxRthopAZC0ufSbvZXtyLcSzosKOx7eUBO5a7DtWIVPZVE1_RilJpi8WMFD5vFGvteVlPsjpkNKBF8Jxu8plwHfYTL2uM6Ho6QPSbxYnYx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Zipkin-Id:
      - ea0ef2b9e4a6df8c
      X-Routing-Service:
      - routing-main--uswest2-77d4785ff7-wqgvp; site=public_api_v3
      Ratelimit-Dailylimit:
      - '5000'
      Ratelimit-Remaining:
      - '4991'
      Ratelimit-Resettime:
      - '2022-08-11T00:00:00+00:00'
      X-Cloudmap:
      - routing_uswest2
      X-Mode:
      - ro
      X-Proxied:
      - 10-69-173-40-uswest2bprod
      X-Extlb:
      - 10-69-173-40-uswest2bprod
    body:
      encoding: ASCII-8BIT
      string: '{"businesses": [{"id": "0CjK3esfpFcxIopebzjFxA", "alias": "joes-shanghai-new-york-2",
        "name": "Joe''s Shanghai", "image_url": "https://s3-media4.fl.yelpcdn.com/bphoto/xM4eGRjk_EfSc1V8MdkRXw/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/joes-shanghai-new-york-2?adjust_creative=6oQREIBfGnCiVDSpRN6ZeQ&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=6oQREIBfGnCiVDSpRN6ZeQ",
        "review_count": 6809, "categories": [{"alias": "shanghainese", "title": "Shanghainese"},
        {"alias": "seafood", "title": "Seafood"}, {"alias": "noodles", "title": "Noodles"}],
        "rating": 4.0, "coordinates": {"latitude": 40.7156608, "longitude": -73.9967012},
        "transactions": ["delivery", "pickup"], "price": "$$", "location": {"address1":
        "46 Bowery St", "address2": "", "address3": "", "city": "New York", "zip_code":
        "10013", "country": "US", "state": "NY", "display_address": ["46 Bowery St",
        "New York, NY 10013"]}, "phone": "+12122338888", "display_phone": "(212) 233-8888",
        "distance": 1153.9482385806896}, {"id": "nI1UYDCYUTt23TpGxqnLKg", "alias":
        "buddakan-new-york", "name": "Buddakan", "image_url": "https://s3-media4.fl.yelpcdn.com/bphoto/JJ6WiHxZmX3gKyllSteBmA/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/buddakan-new-york?adjust_creative=6oQREIBfGnCiVDSpRN6ZeQ&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=6oQREIBfGnCiVDSpRN6ZeQ",
        "review_count": 4347, "categories": [{"alias": "chinese", "title": "Chinese"},
  [...]
