---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?categories=chinese&location=denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer xerr1j6KwzJhpszFKGziADMxRthopAZC0ufSbvZXtyLcSzosKOx7eUBO5a7DtWIVPZVE1_RilJpi8WMFD5vFGvteVlPsjpkNKBF8Jxu8plwHfYTL2uM6Ho6QPSbxYnYx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ratelimit-Dailylimit:
      - '5000'
      Ratelimit-Remaining:
      - '4989'
      X-Zipkin-Id:
      - '08d453f0eef20644'
      Ratelimit-Resettime:
      - '2022-08-11T00:00:00+00:00'
      X-Routing-Service:
      - routing-canary--uswest2-7f9b56ff8-9gtkv; site=public_api_v3
      X-Cloudmap:
      - routing_uswest2
      X-Mode:
      - ro
      X-Proxied:
      - 10-69-126-17-uswest2aprod
      X-Extlb:
      - 10-69-126-17-uswest2aprod
    body:
      encoding: ASCII-8BIT
      string: '{"businesses": [{"id": "6kRbrLNIZKZ1fcjgsTFobg", "alias": "fortune-wok-to-table-denver",
        "name": "Fortune Wok to Table", "image_url": "https://s3-media1.fl.yelpcdn.com/bphoto/aVmP8cWwrCsLWWjwx8wvjg/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/fortune-wok-to-table-denver?adjust_creative=6oQREIBfGnCiVDSpRN6ZeQ&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=6oQREIBfGnCiVDSpRN6ZeQ",
        "review_count": 370, "categories": [{"alias": "noodles", "title": "Noodles"},
        {"alias": "dimsum", "title": "Dim Sum"}, {"alias": "shanghainese", "title":
        "Shanghainese"}], "rating": 4.5, "coordinates": {"latitude": 39.72124, "longitude":
        -104.9543}, "transactions": ["delivery"], "price": "$$", "location": {"address1":
        "2817 E 3rd Ave", "address2": "", "address3": "", "city": "Denver", "zip_code":
        "80206", "country": "US", "state": "CO", "display_address": ["2817 E 3rd Ave",
        "Denver, CO 80206"]}, "phone": "+13033217788", "display_phone": "(303) 321-7788",
        "distance": 2093.330545587293}, {"id": "fXA9hf0IfVRtvSEc9mxnPw", "alias":
        "star-kitchen-denver", "name": "Star Kitchen", "image_url": "https://s3-media3.fl.yelpcdn.com/bphoto/4dkpPrRVdJXCUFl4GdCbZQ/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/star-kitchen-denver?adjust_creative=6oQREIBfGnCiVDSpRN6ZeQ&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=6oQREIBfGnCiVDSpRN6ZeQ",
        "review_count": 1097, "categories": [{"alias": "dimsum", "title": "Dim Sum[...]
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=vl4ipWPj9qT74H7XA1GBOjRoClRAAr4J&location=denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Wed, 10 Aug 2022 20:57:08 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2022 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"denver,co"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Denver","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282041090","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=vl4ipWPj9qT74H7XA1GBOjRoClRAAr4J&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-632991373"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A4XAX","geocodeQuality":"COUNTY","dragPoint":false,"sideOfStreet":"N","linkId":"282932003","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=vl4ipWPj9qT74H7XA1GBOjRoClRAAr4J&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-2&scalebar=true&zoom=9&rand=114048974"}]}]}'
  recorded_at: Wed, 10 Aug 2022 20:57:08 GMT
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/onecall?appid=b9581a3047d59a2929eb5103872adb9c&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7392,"lon":-104.9847,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1660164989,"sunrise":1660133246,"sunset":1660183395,"temp":92.73,"feels_like":89.56,"pressure":1016,"humidity":23,"dew_point":49.53,"uvi":7.56,"clouds":0,"visibility":10000,"wind_speed":4,"wind_deg":137,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"minutely":[{"dt":1660165020,"precipitation":0},{"dt":1660165080,"precipitation":0},{"dt":1660165140,"precipitation":0},{"dt":1660165200,"precipitation":0},{"dt":1660165260,"precipitation":0},{"dt":1660165320,"precipitation":0},{"dt":1660165380,"precipitation":0},{"dt":1660165440,"precipitation":0},{"dt":1660165500,"precipitation":0},{"dt":1660165560,"precipitation":0},{"dt":1660165620,"precipitation":0},{"dt":1660165680,"precipitation":0},{"dt":1660165740,"precipitation":0},{"dt":1660165800,"precipitation":0},{"dt":1660165860,"precipitati[...]
