---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=vl4ipWPj9qT74H7XA1GBOjRoClRAAr4J&location=denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Wed, 10 Aug 2022 20:57:07 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2022 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"denver,co"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Denver","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282041090","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=vl4ipWPj9qT74H7XA1GBOjRoClRAAr4J&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-425892485"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A4XAX","geocodeQuality":"COUNTY","dragPoint":false,"sideOfStreet":"N","linkId":"282932003","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=vl4ipWPj9qT74H7XA1GBOjRoClRAAr4J&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-2&scalebar=true&zoom=9&rand=1027997953"}]}]}'
  recorded_at: Wed, 10 Aug 2022 20:57:07 GMT
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/onecall?appid=b9581a3047d59a2929eb5103872adb9c&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7392,"lon":-104.9847,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1660164989,"sunrise":1660133246,"sunset":1660183395,"temp":92.73,"feels_like":89.56,"pressure":1016,"humidity":23,"dew_point":49.53,"uvi":7.56,"clouds":0,"visibility":10000,"wind_speed":4,"wind_deg":137,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"minutely":[{"dt":1660165020,"precipitation":0},{"dt":1660165080,"precipitation":0},{"dt":1660165140,"precipitation":0},{"dt":1660165200,"precipitation":0},{"dt":1660165260,"precipitation":0},{"dt":1660165320,"precipitation":0},{"dt":1660165380,"precipitation":0},{"dt":1660165440,"precipitation":0},{"dt":1660165500,"precipitation":0},{"dt":1660165560,"precipitation":0},{"dt":1660165620,"precipitation":0},{"dt":1660165680,"precipitation":0},{"dt":1660165740,"precipitation":0},{"dt":1660165800,"precipitation":0},{"dt":1660165860,"precipitati[...]
